# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend
frontend/.cache/
frontend/dist/
frontend/build/

# Backend
backend/.cache/
backend/dist/
backend/build/

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db